.detail-podcast-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: var(--shadow);
    height: auto;
}

.detail-podcast-container-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.detail-podcast-container-card-image img {
    width: 100%;
    max-width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 2px;
}

.detail-podcast-container-divider {
    height: 1px;
    margin: 12px 0;
    background-color: #D3D3D3;
}

.detail-podcast-container__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    color: #333333;
}

.detail-podcast-container__content p {
    font-weight: 900;
}

.detail-podcast-container__content span {
    font-style: italic;
}

.detail-podcast-container__content strong {
    font-weight: 900;
}

@media (min-width: 1200px) {
    .detail-podcast-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-grow: 1;
        overflow-wrap: break-word;
    }
}