.list-podcasts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
}



.list-podcasts {
    font-family: "Roboto", sans-serif;
    font-weight: 100;

    background: #ffffff;
    border-radius: 2px;

    width: 300px;
    min-height: 200px;
    height: auto;

    padding: 10px 10px 30px 10px;
    margin: 5%;
    margin-top: 10%;

    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.08);

    position: relative;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    flex-direction: column;
}



.list-podcasts-image {
    width: 140px;
    height: 140px;
    background-color: #ef1c25;
    border-radius: 50%;

    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list-podcasts-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.list-podcasts-title {
    margin-top: 90px;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.list-podcasts-image-description {
    margin-top: 10px;
    font-size: 1rem;
    color: #c5c5c5;
    text-align: center;
    flex-grow: 1;
}



.list-podcasts button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
}

.list-podcasts button:hover {
    background: #0056b3;
}


@media (max-width: 1024px) {
    .list-podcasts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media (max-width: 600px) {
    .list-podcasts-container {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 1200px) {
    .list-podcasts-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.25rem;
    }
}