.list-podcasts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
}

.list-podcasts {
    font-family: "Roboto", sans-serif;
    font-weight: var(--font-weight-thin);
    background: var(--color-bg);
    border-radius: 2px;
    width: 300px;
    min-height: 200px;
    height: auto;
    padding: 10px 10px 30px 10px;
    margin: 5%;
    margin-top: 10%;
    box-shadow: 0 10px 12px var(--shadow-color);
    position: relative;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.list-podcasts-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-podcasts-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-podcasts-title {
    margin-top: 90px;
    color: var(--color-title);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}

.list-podcasts-image-description {
    margin-top: 10px;
    font-size: 1rem;
    color: #C5C5C5;
    text-align: center;
    flex-grow: 1;
}

.list-podcasts button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: var(--color-bg);
    cursor: pointer;
}

.list-podcasts button:hover {
    background: #0056B3;
}

@media (max-width: 1024px) {
    .list-podcasts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .list-podcasts-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1200px) {
    .list-podcasts-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.25rem;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .list-podcasts-container {
        display: flex;
        width: 80%;
        flex-direction: row;
        margin-left: 10%;
        flex-wrap: wrap;
    }
}

@media only screen and (width: 844px) and (height: 390px) and (orientation: landscape) {
    .list-podcasts-container {
        display: flex;
        width: 90%;
        flex-direction: row;
        margin-left: 5%;
        flex-wrap: wrap;
    }
}

@media only screen and (width: 844px) and (height: 390px) and (orientation: landscape) {
    .list-podcasts {
        width: 150px;
        height: 20px;
    }

    .list-podcasts-image {
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .list-podcasts-title {
        margin-top: -0.5px;
        font-size: var(--font-size-sm);
    }
}