.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.25rem;
    margin: 0 auto 4rem;
    max-width: 1200px;
}

.search {
    width: 100%;
    max-width: 300px;
    padding: 1.25rem;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    box-shadow: 0 10px 12px #DBDBDB14;
}

.container-search-count {
    display: flex;
    justify-content: center;
}

.search-count {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    min-width: 50px;
    max-height: 40px;
    font-size: var(--font-size-lg);
    text-align: center;
    font-weight: var(--font-weight-semibold);
    background-color: #4C90CB;
    color: var(--color-bg);
    border-radius: 12px;
}

@media (min-width: 1200px) {
    .container-search {
        justify-content: flex-end;
    }
}

@media only screen and (width: 844px) and (height: 390px) and (orientation: landscape) {
    .container-search {
        margin-top: 20px;
        width: 400px;
        height: 5px;
    }
}