.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.25rem;
    margin: 0 auto 4rem;
    max-width: 1200px;
}

.search {

    width: 100%;
    max-width: 300px;
    padding: 1.25rem;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 10px 12px rgba(219, 219, 219, 0.08);
}

.container-search-count {
    display: flex;
    justify-content: center;
}

.search-count {
    margin-right: 1rem;
    padding: 0.8rem 1rem;
    min-width: 50px;
    max-height: 40px;
    text-align: center;
    font-weight: 600;
    background-color: #4C90CB;
    color: #ffffff;
    border-radius: 20px;
}

@media (min-width: 1200px) {
    .container-search {
        justify-content: flex-end;
    }
}