.header-container {

    display: flex;
    justify-content: start;
    height: 60px;
    color: var(--color-primary);
    font-weight: bolder;
    font-size: 1.5rem;
    box-shadow: 0 12px 10px -8px rgba(0, 0, 0, 0.25);
    padding: 2% 5%;
}

.header-link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    cursor: pointer;
}

@media (min-width: 1200px) {

    .header-container {
        margin-bottom: 2%;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 60px;
        color: var(--color-primary);
        font-weight: bolder;
        font-size: 2rem;
        box-shadow: 0 12px 10px -8px rgba(0, 0, 0, 0.25);
        padding: 2% 5%;
        padding-left: 10%;
    }

}