.header-container {
    display: flex;
    justify-content: start;
    height: 60px;
    color: var(--color-primary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-lg);
    box-shadow: 0 12px 10px -8px var(--shadow-color);
    padding: 2% 5%;
}

@media (min-width: 1200px) {
    .header-container {
        margin-bottom: 2%;
        align-items: center;
        font-size: var(--font-size-xl);
        padding-left: 10%;
    }
}