.header-container {
    display: flex;
    justify-content: start;
    height: 60px;
    color: var(--color-primary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-lg);
    box-shadow: 0 12px 10px -8px #00000040;
    padding: 2% 5%;
}

@media (min-width: 1200px) {
    .header-container {
        margin-bottom: 2%;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 60px;
        color: var(--color-primary);
        font-weight: var(--font-weight-black);
        font-size: var(--font-size-xl);
        box-shadow: 0 12px 10px -8px #00000040;
        padding: 2% 5%;
        padding-left: 10%;
    }
}