.list-episodes-table-container {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.list-episodes-table {
  width: 100%;
  padding-left: 10%;
  border-collapse: collapse;


}

.list-episodes-table thead th {
  background-color: white;
  padding: 10px;
  text-align: left;
}

.list-episodes-table-track-row td {
  padding: 12px;
}

.list-episodes-table-main-column {
  width: 65%;
  font-weight: 600;
}

.list-episodes-table-bordered {

  text-align: center;
}


.list-episodes-header {
  width: 112%;
  height: 50px;
  padding: 5%;
  font-weight: bolder;
  margin-top: 3%;
  border-collapse: collapse;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;

  padding: 3%;
  font-weight: bolder;
  font-size: 1.5rem;

  display: flex;
  align-items: center;



}

.header-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  cursor: pointer;
}



/* Desktop */
@media (min-width: 1200px) {

  .list-episodes-table-container {
    margin-top: 1%;
  }

  .list-episodes-header {

    width: 100%;
    height: 50px;
    padding: 5%;
    font-weight: bolder;
    margin-top: 2%;
    border-collapse: collapse;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 3%;
    padding: 3%;
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}




.list-episodes-table {
  border-collapse: collapse;
  width: 100%;

}

.list-episodes-table tbody tr {
  border-bottom: 1px solid #ededed;
}


.list-episodes-table-container-items {
  background-color: rgb(255, 255, 255);
  padding: 0.3rem;
  box-shadow: var(--shadow);
  font-size: 0.8rem;
  width: 112%;
}


@media (min-width: 1200px) {
  .list-episodes-table-container-items {
    width: 100%;
    padding: 1rem;

  }
}