.container-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}


@media (max-width: 1024px) {

    .container-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 2%;
    }
}


@media (max-width: 600px) {

    .container-detail {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .container-detail {
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        align-items: start;
        gap: 2%;
        width: 80%;
        margin-left: 10%;
        margin-top: 3%;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .container-detail {
        display: flex;
        width: 80%;
        flex-direction: row;
        margin-left: 10%;
        flex-wrap: wrap;
    }
}

@media only screen and (width: 1366px) and (height: 1024px) and (orientation: landscape) {
    .container-detail {
        display: flex;
        width: 80%;
        margin-left: 10%;
        flex-wrap: wrap;
    }
}


@media only screen and (width: 844px) and (height: 390px) and (orientation: landscape) {


    .container-detail {
        display: flex;
        width: 80%;
        margin-left: 10%;
        flex-wrap: wrap;
    }
}