.container-detail {
    display: flex;
    flex-direction: column;
}


@media (max-width: 1024px) {

    .container-detail {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 2%;
    }
}


@media (max-width: 600px) {

    .container-detail {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .container-detail {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 2%;
        width: 80%;
        margin-left: 10%;
        margin-top: 3%;
    }
}