:root {
  --color-bg: #ffffff;
  --color-text: #111827;
  --color-primary: #427490;
  --color-descriptions: #525252;
  --spacing-sm: 1rem;
  --color-link: #427490;
  --spacing-md: 1.5rem;
  --shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


a {
  color: var(--color-link);
  text-decoration: none;
}