:root {
  font-family: Arial, sans-serif;
  --color-bg: #FFFFFF;
  --color-title: #000000;
  --color-primary: #427490;
  --color-descriptions: #525252;
  --color-link: #427490;
  --shadow: 0 0 12px #00000033;
  --shadow-color: #00000033;

  --font-weight-black: 900;
  --font-weight-semibold: 600;
  --font-weight-ligth: 300;
  --font-weight-thin: 100;
  --font-weight-bold: bold;


  --font-size-sm: 0.8rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
}